<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cs.tufts.edu.compfoodie">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CompFoodie"
        tools:replace="android:theme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowseActivity"
            android:parentActivityName=".LoginActivity">

            <!-- Meta Data for <4 support -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".CreateGroupActivity"
            android:parentActivityName=".BrowseActivity">

            <!-- Meta Data for <4 support -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BrowseActivity" />
        </activity>
        <activity
            android:name=".GroupStatusActivity"
            android:parentActivityName=".BrowseActivity">

            <!-- Meta Data for <4 support -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BrowseActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".MyGroupsActivity"
            android:parentActivityName=".BrowseActivity">

            <!-- Meta Data for <4 support -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BrowseActivity" />
        </activity>

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="53db0ed0493c362a6780f6eb83d9368dd6a179a1" />

    </application>

</manifest>